@font-face {
    font-family: 'fedora';
    src: url('../fonts/sf_fedora_titles_italic/sf_fedora_titles_italic-webfont.eot');
    src: url('../fonts/sf_fedora_titles_italic/sf_fedora_titles_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_fedora_titles_italic/sf_fedora_titles_italic-webfont.woff') format('woff'),
         url('../fonts/sf_fedora_titles_italic/sf_fedora_titles_italic-webfont.ttf') format('truetype'),
         url('../fonts/sf_fedora_titles_italic/sf_fedora_titles_italic-webfont.svg#sf_fedora_titlesitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}