%section {
    @include grid-column(
    $columns:12,
    $collapse:true
    );
}

%vertical-rythm {
	margin-top:2.5em;
}

%vertical-rythm-large {
    margin-top:3.5em;
}

%w100 {
    width:100%
}

.indice {
    .obj {
        @include grid-column(
                $columns:12
            );

        @media #{$medium-up} {
            @include grid-column(
                $columns:3,
                $collapse:true
            );
        }
        @media #{$large-up} {
            @include grid-column(
                $columns:2,
                $collapse:true
            );
        }
    }
}

.item__column {
         @include grid-column(
            $columns:12,
            $collapse:true
            );
        
        @media #{$medium-up} {
            @include grid-column(
                $columns:6,
                $collapse:true
            );  
        }

        @media #{$large-up} {
             @include grid-column(
                $columns:12,
                $collapse:true
            ); 
        }
}

.media {
    @include grid-column(
        $columns:12
    );
    @media #{$large-up} {
        @include grid-column(
            $columns:6
        ); 
    }
    @media #{$xlarge-up} {
        @include grid-column(
            $columns:12
        ); 
    }
    
    > figure {
        text-align: center;
        // @media #{$medium-up} {
        //     width:100%;
        // }
    }
    
     > section {
        @include grid-column(
        $columns:12
        );
        @media #{$xlarge-up} {
          @include grid-column(
            $columns:12
            );  
        }
    }
}

.media--right {
    // > figure {
    //     @media #{$xlarge-up} {
    //       @include grid-column(
    //         $columns:12,
    //         $float:right
    //         );  
    //     }
    // } 
    > section {
        @media #{$xlarge-up} {
          @include grid-column(
            $columns:12,
            $float:left
            );  
        }
    }
}


.obj {
    display:flex;
    align-items: center;
    width:100%;
    float: left;
    height: auto;
    padding:0.5rem 0;
    @media #{$medium-up} {
        padding:0;
    }

    .obj__title {
        margin:0;
    }

    .obj__figure {
        @include grid-column(
            $columns:4,
            $collapse:true
            );
        margin:0;
        @media #{$medium-up} {
           @include grid-column(
            $columns:12,
            $float:none,
            $collapse:true
            ); 
        }

    }
    .obj__section {
         @include grid-column(
            $columns:8
            );

        @media #{$medium-up} {
          display:none;
        }
    }
}