.tab-bar {
    @media #{$large-up} {
        padding: rem-calc(7) rem-calc(20);
    }
    overflow: hidden;
}
.tab-bar__trigger {
    //@extend %bg-red;
    border:medium none;
    box-shadow: none !important;
    text-align:right;
    @include grid-column(
        $columns:4,
        $float:right
        ); 
}
.tab-bar__button {
    background:$white;
    color:$red;
    border:1px solid $red;
    font-size: 0.8rem !important;
    margin-top:1rem;
    margin-bottom:0;
    @media #{$large-up} {
        // right:1em;
        // margin:0;
        // width:100%;
        color:$white;
        background:$red;
    }
}
.tab-bar__title {
    @include grid-column(
        $columns:8
        ); 
    height: rem-calc(76);
    max-width:rem-calc(250);
    @media #{$medium-up} {
        margin-top:rem-calc(5);
    }
}
.tab-bar__logo {
    max-width:100%;
    max-height:100%;
    margin-top:0.75rem;
}
.evidenza {
    @extend %section;
    @extend %vertical-rythm;
    @media #{$large-up} {
        margin-top:0;
        @include grid-column(
            $columns: 8
            );
        }
    @media #{$xlarge-up} {
        @include grid-column(
            $columns: 9
            );
        }    
    // margin:1em 0;
}
.evidenza__title {
    text-align:center;
    margin-bottom: 1rem;
    @media #{$large-up} {
        display:none;
    }
}
.evidenza__container {
    margin:0 auto;
    max-width: 58rem;
}
.evidenza__list {

    @include block-grid(
        $per-row: 3,
        $spacing: $block-grid-default-spacing,
        $base-style: true
    );

    @media #{$large-up} {
         @include block-grid(
            $per-row: 3,
            $spacing: 4rem
        );
        padding:1rem 1.5rem 0; 

        > li:nth-last-child(-n+3) {
            padding-bottom:1px;
        }
    }
}

.grid-item__figure {
    margin:0;
    position:relative;
}

.grid-item__img {
    position:relative;
    z-index:10;
}

.grid-item__caption {
    @include position(absolute, top 1px bottom 1px right 1px left 0);
    background:$red;
    align-items: center;
    display: flex;
    justify-content: center;
    color:$white;
    text-align: center;
}

.caption__label {
    margin:0;
    line-height:1.2;
}
.caption--name {
    font-weight:100;
    font-size:rem-calc(23);
}
.caption--brand {
    border-top:1px solid $black;
    margin-top: 0.25em;
    padding-top: 0.5em;

    text-transform: uppercase;
    font-family: $header-font-family;
}

// promozione
.promozione {
    @extend %section;
    @extend %vertical-rythm;
    background: $lightGrey;
    text-align: center;
    @media #{$large-up} {
        margin-top:0;
        @include grid-column(
            $columns:4
            );
    }
    @media #{$xlarge-up} {
        padding-top:4rem;
        @include grid-column(
            $columns:3
            );
    }
}
.promozione--archive-item {
    @media #{$medium-up} {
        padding:1em 0;
    }
    @media #{$large-up} {
        margin-top:0;
        @include grid-column(
            $columns:8,
            $center:true
            );
        overflow: hidden;
        margin:2em auto;
    }
}

.promozione__inner {
    @include grid-column(
        $columns:11,
        $center:true,
        $float:none
    );
    margin: 1rem auto 0rem;
    padding:1rem;
    max-width: $cage;

    @media #{$medium-up} {
        @include grid-column(
        $columns:6,
        $center:false,
        $float:right
        );
    }
    @media #{$large-up} {
            @include grid-column(
                $columns:11,
                $center:true,
                $float:none
            );
        margin:0 auto;    
    }
}

.promozione--archive-inner {
    @media #{$large-up} {
            @include grid-column(
                $columns:6,
                $center:false,
                $float:right
            ); 
    }
}
.promozione__heading {
    font-style: italic;
    color:lighten($black, 20);
    font-weight: 100;
    font-family: $body-font-family;
    border-bottom: 1px solid lighten($black, 20);
    margin: 0 1rem;
    text-align: center;
    font-size:rem-calc(23);
}

.promozione__img {
    padding:0 1rem;
    @media #{$medium-up} {
        @include grid-column(
            $columns:6
            );
        padding:2rem 0;
    }

    @media #{$large-up} {
        @include grid-column(
            $columns:12
            );

        padding:0;
    }
}
.promozione--archive-img {
    @media #{$large-up} {
        @include grid-column(
            $columns:6
            );

        padding:0 1rem;
    }
}

.promozione__title {
    font-size: rem-calc(36);
}
.promozione__text {
    text-align:justify;
    hyphens: auto;

    @media #{$large-up} {
        display: block;
        margin: 1rem auto 1.5rem;
        max-width: 20rem;
    }
}


.footer {
    @extend %section;
    margin-top:-1px;
    padding:1rem;
    background-color:$grey;
    position: relative;
    z-index:50;
    @media #{$medium-up} {
        padding:3rem 1rem 2rem;
    }
}
.footer__header {
    @include grid-column(
    $columns:12
    );
}
.footer__title {
    color:$white;
}
.blurb {
    max-width:$cage;
    color:$white;
    @include grid-column(
    $columns:12
    );
    @media #{$medium-up} {
        @include grid-column(
        $columns:6
        );
    }
}


// negozi
.negozi {
    @include grid-column(
    $columns:12
    );
    @media #{$medium-up} {
      @include grid-column(
        $columns:6
        );  
    }
    @media #{$large-up} {
      @include grid-column(
        //$columns:5,
        $columns:6,
        $float:right
        );  
    }
}

.negozi__list {
    @include block-grid(
        $per-row: 2
        //$spacing: 2em
        );
}

.negozi--title {
    font-size:rem-calc(27);
}
.negozio {
    color:$white;
    font-size:0.8em;
    @media #{$medium-up} {
        font-size:1em;
    }
}

.negozio__inner {
    border-bottom: 1px solid $white;
    margin-bottom: 0.5em;
    width:100%;
    @include grid-column(
        $columns:12,
        $collapse:true
    ); 
}

.negozio__title {
    color:$white;
    font-size:1rem;
    margin-bottom:0;
}
.negozio__link {
    font-size: 0.8em;
    color:$lightGrey;
}




//footer-nav
.footer-nav {
    @include grid-column(
    $columns:12
    );
    @media #{$medium-up} {
      @include grid-column(
        $columns:6
        );  
    }
    @media #{$large-up} {
      @include grid-column(
        $columns:5,
        $float:right
        );  
    }
}
.footer-nav__list {
   @include side-nav();
   color:$red;
   list-style: square !important;
   padding-left:2rem;
   padding-right:2rem;
}

.footer-nav__link {
    color:$white !important;
    font-size: rem-calc(18);
    @media #{$medium-up} {
        font-size:rem-calc(23);
    }
}

.punti-vendita {
    @extend %section;
    padding:3em 0;
}

.punti-vendita__list {
    @include block-grid(
    $per-row: 2,
    $spacing: 2em
    );
    @media #{$large-up} {
        @include block-grid(
        $per-row: 5,
        $spacing: 1em 2em
        );
    }
}
.punti-vendita__title {
    @extend .evidenza__title;
}

.punto-vendita__title {
    font-weight:100;
    font-size:rem-calc(23);
}

.punto-vendita__text {
    font-weight:100;
}

.newsletter {
    color:$white;
    margin-bottom:2rem;
    max-width:23rem;
    @include grid-column(
        $columns:12,
        $collapse:true
        ); 
    @media #{$large-up} {
      max-width:26rem;  
    }
}
.newsletter__title {
    color:$white;
    font-size:rem-calc(23);
}
.newsletter__input {
    @include grid-column(
        $columns:10,
        $collapse:true
        ); 
}
.newsletter__button {
    @include grid-column(
        $columns:2,
        $collapse:true
        ); 
}

.contentinfo {
    @extend %section;
    background:$red;
    color:$white;
    padding:.5em;
}
.contentinfo__inner {
    @include grid-column(
        $columns:12
        );
}
.contentinfo__link {
    color:$white;
    text-decoration: underline;
    &:hover, &:active {
        color:$white;
    }
}

.menu__item {
    font-family: $header-font-family;
    text-transform: uppercase;
}


.menu__link {
    &:hover {
        color:$red;
    }
}

.searchform {
    margin-top:2em;
    overflow: hidden;
}

.searchform__title {
    padding:0.66667rem;
    color:$white;
    font-weight: 400;
    font-size:rem-calc(18);
}
.searchform--input {
    width:75%;
}
.searchform--button {
    width:25%;
}
.searchform-go {
    border-width:0px;
    padding:0 1rem;
}
.menu-icon__label {
    font-family: $header-font-family;
    display:none !important;
    @media #{$large-up} {
        display:inline !important;
    }
}

.copertina {
    position:relative;
}
.copertina__title {
    color:$white;
    position:absolute;
    width:100%;
    text-align:center;
    top:50%;
    margin-top:-1.75em;
    font-family: "adelle", serif;
    font-weight:400;
    text-shadow: 0 5px 5px rgba($black, 0.1),
                5px 0px 5px rgba($black, 0.5),
                -10px 1px 5px rgba($black, 0.05);
    font-size:rem-calc(18);    
    line-height: 1.2; 
    @media #{$medium-up} {
        font-size:rem-calc(27);
    } 
    @media #{$large-up} {
        font-size:rem-calc(44);
    }       
}


// single item

.item__column-container {
    background:$grey;
    overflow: hidden;
}
.item__figure {
    text-align: center;
    position:relative;
    @media #{$large-up} {
        margin:4rem 0 0 0;
        max-height:32em;
        @include grid-column(
            $columns:5
            );
    }
}
.item__inner {
    position:relative;
    @media #{$large-up} {
        @include grid-column(
            $columns:7,
            $collapse:true,
            $float:right
            );
        max-width:50rem;
    }
}

.item__content {
    background:$white;
    @media #{$xlarge-up} {
        min-height:rem-calc(575);
        @include grid-column(
            $columns:7,
            $collapse:true
        );  
    }
}

.item__sidebar {
    @media #{$xlarge-up} {
        @include grid-column(
            $columns:5,
            $collapse:true
        );
        @include position(absolute, right 0 top 0 bottom 0);
    }
}


.item__content-inner {
    @include grid-column(
        $columns:12,
        $center:false
    );
    float:none;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    max-width: $cage;
    @media #{$medium-up} {
        margin-left:0;
        margin-right:0;  
    }
    @media #{$xlarge-up} {
        margin-bottom:6em;
    }
}
.item__img {
    max-height:500px;
    max-height:65vh;
}

.item__spec {
    width:100%;
    margin-top:1em;
    @media #{$large-up} {
        margin-top:2em;
    }
}

.item__action {
    margin: 1em auto;
    //display: block;
}

.item__title {
    font-size:rem-calc(36);
    line-height: 1.1;
    font-weight: 100;
    @media #{$large-up} {
        font-size:rem-calc(44);
    }
}

// texts
.item__text {
    font-size:0.8rem;
}

.item__desc {
    @media #{$xlarge-up} {
        font-size:1rem;
        max-width:$cage;
    }
}

.item__category {
    a {
        background:lighten($black, 50);
        color:$white;
        font-style:italic;
        padding:0.5em;
        display:block;
        &:after {
            content:" →";
        }
        &:hover {
            color:$lightGrey;
        }

        @media #{$medium-up} {
            padding:1em;
        }

    }
}

.item__breadcrumb {
    color:$white;
    display:block;
    float:left;
    width:50%;
    text-align: center;
}
// brand
.brand {
    background-color:$lightGrey;
    padding:2em;
}
.brand__label {
    font-size:rem-calc(27);
    letter-spacing: 0.3px;

    display:none;
}
.brand__link {
    font-style:italic;
}
.brand__text {
    line-height:1.4;
}

// designer
.designer {
    background-color:$grey;
    padding:2em;
    border-bottom:4px solid $black;
    @media #{$medium-up} {
        border:medium none;
    }
}
.designer__label {
    @extend .brand__label;
    color:$lightGrey;
}
.designer__title {
    font-weight:100;
    color:$white;
    font-size:rem-calc(23);
}
.designer__text {
    color:$lightGrey;
    @extend .brand__text;
}
.designer__link {
    @extend .brand__link;
    color:$white;
}
.designer__img {
    margin-bottom:1rem;
}
.indice {
    margin:1rem 0;

    @media #{$large-up} {
        margin:2rem 0 1px;
    }
}
.indice__container {
    overflow: hidden;
    @include grid-column(
        $columns:12
        );

    padding:1.5rem;
    background:$darkWhite;
    @media #{$medium-up}{
        padding:2rem !important;
        @include grid-column(
            $columns:6
        );
    }
    @media #{$large-up}{
        @include grid-column(
            $columns:4
        );
    }
}

.indice__img {
    max-width: 50%;
}
.indice__text {
    display: block;
    margin-left: auto;
    margin-right:auto;
    max-width: $cage;
}
.indice__title {
    @extend .indice__text;
    margin-bottom:1rem;
    font-weight: 100;
}


.indice__filters label{
    font-family: $header-font-family;
    font-variant: small-caps;
}

// strip
.strip {
    background-color:$red;
    color:$white;
}

.strip__text {
    text-align: center;
    font-variant: small-caps;
    margin:0;
    padding:1rem 0;
        @media #{$medium-up}{
            font-size:rem-calc(18);
        }
}

.strip__link {
    @extend .contentinfo__link;
}


// about 
.photohead {
    overflow: hidden;
    position: relative;
    text-align: center;
    padding:1rem 0;
}

.photohead__img {
    @include position(absolute, top 0 right 0 left 0);
    width:100%;
    height:auto;
    z-index: -1;
}
.photohead__title {
    color:$white;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.infoblock {
    @include grid-column(
        $columns:12,
        $center:true
        );
    padding:2rem;
    max-width: 30rem;
    overflow: hidden;

    @media #{$medium-up} {
        max-width: 100%;
    }
}

.infoblock__text {
     @media #{$medium-up} {
        @include grid-column(
        $columns:6
        );
    }
}

.infoblock__img {
     @media #{$medium-up} {
        @include grid-column(
        $columns:6
        );
    }
}

.contact__inner {
    margin:2rem 0;
}
.contact__submit {
    margin-top:1.125rem;
}
.contact__notes {
    clear:both;
    margin-top:0.5rem;
    display: block;
}

.contact__link {
    color:$body-font-color;
    text-decoration: underline;
}

.contact__confirmation {
    margin:2rem 0 1rem;
}

.contact__success-title {
    font-weight: 400;
    text-transform: uppercase;
    font-size:rem-calc(23);
}

.contact__success-table {
    width:100%;
}

.results {
    @include grid-column(
        $columns:12
        );
    padding:0 2rem;
    margin:2rem auto;

}
.results__title {
    font-weight: 100;
    margin-bottom:2rem;
    @media #{$medium-up} {
        margin-bottom:4rem;
    }
}
.result__key {
    font-family: $body-font-family;
    font-weight: 700;
}
.result {
    width:100%;
    padding:1rem;
    max-width: $cage;
    float:left;
    @media #{$large-up} {
        width:50%;
        padding-right:1rem;
    }

    &:nth-child(2n+0) {
        clear:both;
    }
}
.result__title {
    font-size: rem-calc(27);
}
.result__link {
    @extend .brand__link;
}

.gallery__message {
    background: none repeat scroll 0 0 rgba($white, 0.9);
    display: inline-block;
    font-style: italic;
    left: 50%;
    min-width: rem-calc(200);
    padding: 1rem 0rem;
    position: absolute;
    top: 75%;
    transform: translateX(-50%);
}

.promoproducts {
    @include grid-column(
        $columns:12
        );
    margin:1rem 0;
    clear:both;
    text-align:center;
}
.promo--container {
    @media #{$medium-up} {
       @include grid-column(
        $columns:12
        ); 
    }
}

.promo__inner {
    @media #{$large-up} {
       @include grid-column(
        $columns:6
        ); 
    }
}

.promo--img {
  display:block;
  margin:0 auto 1rem;
  max-width: 100%;  
   @media #{$large-up} {
       float:right;
       max-width: 50%;  
    }
}
.promo--title {
    font-weight: 700;
}
 .promo--title,
 .promo--text {
    @media #{$large-up} {
       margin-left:0; 
    }
    @media #{$xlarge-up} {
       max-width: $cage-large; 
    }
 }

 .promo--text p,
 .promo--excerpt {
     @media #{$xlarge-up} {
       font-size: 1rem;
    }
 }

.promo-msg {
    background: $red;
    color: $white;
    display: inline-block;
    left: 0;
    margin: 1rem 0;
    padding: 1rem;
    position: relative;
    @media #{$medium-up} {
        position:absolute;
    }
    &:hover, &:active {
        color:$lightGrey;
    }
}
.price {
    margin-bottom:1rem;
}
.price__label {
    margin:0;
}

.price__value {
    font-weight: 700;
    font-size:rem-calc(27);
}


.entry {
    @include grid-column(
        $columns:12,
        $center:true
        );
    padding-top:2rem;
    padding-bottom:3rem;
    max-width:$cage;
    background:$white;
    @media #{$medium-up} {
        max-width:$cage-large;
        padding:2rem 3rem 3rem 1rem;
        margin-left:0;
        margin-right:0;
    }
    overflow: hidden;
}
.entry__title {
    font-size:rem-calc(27);
    font-weight: 100;
    @media #{$medium-up} {
        font-size:rem-calc(37);
        margin-bottom:2rem;
    }
}
.entry__text p {
    @media #{$medium-up} {
        font-size:1rem;
    }
}

.entry img {
    margin-bottom:1rem;
}

.categorie-archive {
    @include block-grid(
        $per-row:2
        );
    @media #{$medium-up} {
        @include block-grid(
        $per-row:3
        );
    }
     @media #{$large-up} {
        @include block-grid(
        $per-row:6
        );
    }
}

.categorie-archive__link {
    text-align: center;
    display:block;
    margin:0 auto;
    padding:40% 0;
    background:$darkGrey;
    max-width: 16rem;
    &:hover {
        background:$red;
    }
}

.categorie-archive__title {
    font-weight: 100;
    border-bottom:1px solid currentColor;
    font-size:1rem; 
    font-family: $body-font-family;
    display:inline;
    color:$white;
}

.blurb__feature {
    display: block;
    border: 1px solid $lightGrey;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1rem;
    color: white;
    margin-bottom:1rem;
    @media #{$medium-up} {
        display: inline-block;
    }
}

.pagination {
    clear:both;
}
ul.page-numbers {
    overflow: hidden;
    li {
        list-style: none;
        float: left;
    }
}
a.page-numbers, 
span.page-numbers {
    padding:.5em;
}

// promozione index
.promozioni--index {
    padding: 0 1rem;
}
.promozioni__title {
    text-align: center;
    font-weight: 100;
    margin-bottom:2em;
}