.tab-bar__trigger {
    @extend %bg-red;
    border:medium none;
    box-shadow: none;
    @media #{$large-up} {
        width:8.0625rem !important;
    }
}
.tab-bar__title {
    text-align:left !important;
    @media #{$large-up} {
        left:8.0625rem !important;
    }
}
.tab-bar__logo {
    max-height: rem-calc(36);
    @media #{$large-up} {
        max-height: rem-calc(44);   
    }
}
.evidenza {
    @extend %section;
    @extend %vertical-rythm;
    @media #{$large-up} {
        @extend %vertical-rythm-large;
    }
    // margin:1em 0;
}
.evidenza__title {
    text-align:center;
    margin-bottom: 1rem;
    @media #{$large-up} {
        display:none;
    }
}
.evidenza__list_three {
    @include block-grid(
    // This controls how many elements will be on each row of the block grid. Set this to whatever number you need, up to the max allowed in the variable.
    // Available options: 1-12 by default, and false.
    $per-row: 3,

    // This controls how much space is between each item in the block grid.
    // Use a variable or any pixel or em values.
    $spacing: $block-grid-default-spacing,

    // This controls whether or not base styles come through, set to false to leave out.
    $base-style: true
  );
}

.evidenza__list_four {
    @include block-grid(
    $per-row: 4,
    $spacing: $block-grid-default-spacing,
    $base-style: true
  );
}

.evidenza__figure {
    margin:0;
    position:relative;
}

.evidenza__img {
    position:relative;
    z-index:10;
}

.evidenza__caption {
    @include position(absolute, top 1px bottom 1px right 1px left 0);
    background:$red;
    color:$white;
}
.caption__container {
    @include grid-column {
        $columns:12
    }
    @include position(absolute, bottom 0 left 0 right 0);
}
.caption__label {
    margin:0;
    line-height:1.2;
}
.marchi__list {
    @include block-grid(
    $per-row: 3
    );
}

.marchi__title {
    @extend .evidenza__title;
}

.promozione {
    @extend %section;
    @extend %vertical-rythm;
    @media #{$large-up} {
        @extend %vertical-rythm-large;
    }
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
}
.promozione__inner {
    @extend %bg-white;
    @include grid-column(
    $columns:10,
    $center:true,
    $float:none
    );
    margin: 2rem auto 1.5rem;
    padding:1rem;
    max-width: 30rem;

    @media #{$medium-up} {
        float:right;
    }
    @media #{$large-up} {
            margin: 3rem 0 4.5rem;
    }
}


.footer {
    @extend %section;
    padding:1rem;
    background-color:$grey;
    @media #{$medium-up} {
        padding:3rem 1rem 2rem;
    }
    @media #{$large-up} {
        padding:4rem 1rem 2rem;
    }
}
.footer__header {
    @include grid-column(
    $columns:12
    );
}
.footer__title {
    color:$white;
}
.blurb {
    max-width:29rem;
    color:$white;
    @include grid-column(
    $columns:12
    );
    @media #{$medium-up} {
        @include grid-column(
        $columns:6
        );
    }
}
.blurb__text, .newsletter__text {
    font-size:0.8em;
    @media #{$large-up} {
        font-size:0.9rem;
    }
}

.negozi {
    @include grid-column(
    $columns:12
    );
    @media #{$medium-up} {
      @include grid-column(
        $columns:6
        );  
    }
    @media #{$large-up} {
      @include grid-column(
        $columns:5,
        $float:right
        );  
    }
}
.negozi__list {
    @include block-grid(
    $per-row: 2,
    // This controls how much space is between each item in the block grid.
    // Use a variable or any pixel or em values.
    $spacing: 2em
    );
}


.newsletter {
    color:$white;
    margin-bottom:2rem;
    max-width:23rem;
    @include grid-column(
        $columns:12,
        $collapse:true
        ); 
    @media #{$large-up} {
      max-width:26rem;  
    }
}
.newsletter__title {
    color:$white;
    font-size:rem-calc(23);
}
.newsletter__input {
    @include grid-column(
        $columns:10,
        $collapse:true
        ); 
}
.newsletter__button {
    @include grid-column(
        $columns:2,
        $collapse:true
        ); 
}

.contentinfo {
    @extend %section;
    background:$red;
    color:$white;
    padding:.5em;
}
.contentinfo__inner {
    @include grid-column(
        $columns:12
        );
}
.contentinfo__link {
    color:$white;
    text-decoration: underline;
    &:hover, &:active {
        color:$white;
    }
}

.menu__item {
    font-family: $header-font-family;
    text-transform: uppercase;
}


.menu__link {
    &:hover {
        color:$red;
    }
}

.search {
    margin-top:2em;
    overflow: hidden;
}
.search__inner {
    padding:0.66667rem;
}
.search__title {
    color:$white;
    font-weight: 400;
    font-size:rem-calc(18);
}
.search__input {
    @extend .newsletter__input;
}
.search__button {
    @extend .newsletter__button;
}

.menu-icon__label {
    font-family: $header-font-family;
    display:none !important;
    @media #{$large-up} {
        display:inline !important;
    }
}

.copertina {
    position:relative;
}
.copertina__title {
    color:$white;
    position:absolute;
    width:100%;
    text-align:center;
    top:50%;
    margin-top:-1.75em;
    font-family: "adelle", serif;
    font-weight:400;
    text-shadow: 0 5px 5px rgba($black, 0.1),
                5px 0px 5px rgba($black, 0.5),
                -10px 1px 5px rgba($black, 0.05);
    font-size:rem-calc(18);    
    line-height: 1.2; 
    @media #{$medium-up} {
        font-size:rem-calc(27);
    } 
    @media #{$large-up} {
        font-size:rem-calc(44);
    }       
}