.tab-bar__trigger {
    //@extend %bg-red;
    border:medium none;
    box-shadow: none !important;
    @media #{$large-up} {
        width:8rem !important;
        padding:0 0.625rem;
    }
}
.tab-bar__button {
    background:$white;
    color:$red;
    border:1px solid $red;
    font-size: 0.8rem !important;
    margin: 0 5%;
    width: 90%;
    @media #{$large-up} {
        margin:0;
        width:100%;
        color:$white;
        background:$red;
    }
}
.tab-bar__title {
    text-align:left;
    right:8rem !important;
}
.tab-bar__logo {
    max-height: rem-calc(36);
    @media #{$large-up} {
        max-height: rem-calc(44);   
    }
}
.evidenza {
    @extend %section;
    @extend %vertical-rythm;
    @media #{$large-up} {
        @extend %vertical-rythm-large;
    }
    // margin:1em 0;
}
.evidenza__title {
    text-align:center;
    margin-bottom: 1rem;
    @media #{$large-up} {
        display:none;
    }
}
.evidenza__list_three {
    @include block-grid(
    // This controls how many elements will be on each row of the block grid. Set this to whatever number you need, up to the max allowed in the variable.
    // Available options: 1-12 by default, and false.
    $per-row: 3,

    // This controls how much space is between each item in the block grid.
    // Use a variable or any pixel or em values.
    $spacing: $block-grid-default-spacing,

    // This controls whether or not base styles come through, set to false to leave out.
    $base-style: true
  );
}

.evidenza__list_four {
    @include block-grid(
    $per-row: 4,
    $spacing: $block-grid-default-spacing,
    $base-style: true
  );
}

.evidenza__figure {
    margin:0;
    position:relative;
}

.evidenza__img {
    position:relative;
    z-index:10;
}

.evidenza__caption {
    @include position(absolute, top 1px bottom 1px right 1px left 0);
    background:$red;
    align-items: center;
    display: flex;
    justify-content: center;
    color:$white;
}
.caption__container {
    @include grid-column {
        $columns:12
    }
    text-align: center;
    width:100%;
    //@include position(absolute, bottom 0 left 0 right 0);
}
.caption__label {
    margin:0;
    line-height:1.2;
}
.caption--name {
    border-bottom:1px solid $black;
    margin-bottom: 0.25em;
    padding-bottom: 0.5em;
    font-weight:100;
    font-size:rem-calc(23);
}
.caption--brand {
    text-transform: uppercase;
    font-family: $header-font-family;
}

.marchi__list {
    @include block-grid(
    $per-row: 3
    );
}

.marchi__title {
    @extend .evidenza__title;
}

.promozione {
    @extend %section;
    @extend %vertical-rythm;
    @media #{$large-up} {
        @extend %vertical-rythm-large;
    }
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
}

.promozione__inner {
    @extend %bg-white;
    @include grid-column(
    $columns:10,
    $center:true,
    $float:none
    );
    margin: 2rem auto 1.5rem;
    padding:1rem;
    max-width: 30rem;

    @media #{$medium-up} {
        float:right;
    }
    @media #{$large-up} {
            margin: 3rem 0 4.5rem;
            padding:1rem 2rem;
    }
}

// Layout alternativo

.promozione__alt {
    @extend %section;
    @extend %vertical-rythm;
    @media #{$large-up} {
        @extend %vertical-rythm-large;
    }
    @extend %bg-lightGrey;
    padding:1.938rem 0.9375rem;
}

.promo-alt {
    background:$white;
    @include grid-column(
        $columns:11,
        $center:true,
        $collapse:true
        );
    border-bottom:3px solid $red;
}

.promo-alt__header {
    background:$red;
    color:$white;
    @include grid-column(
        $columns:12
        );
    @media #{$medium-up} {
        margin-bottom:2em;
    }
}
.promo-alt__label {
    font-size:rem-calc(18);
    margin-bottom:0;
}

.promozione__visual {
    margin:0;
     @include grid-column(
        $columns: 12
    );
     @media #{$medium-up} {
        @include grid-column(
        $columns: 6
        );
     }
    padding:0;
}

.promozione__copy {
    @extend %bg-white;
    @include grid-column(
        $columns: 12
    );
    @media #{$medium-up} {
        @include grid-column(
        $columns: 6
        );
    }

}
.evidenza_title--alt {
    display:block !important;
}
// fine alt

.footer {
    @extend %section;
    padding:1rem;
    background-color:$grey;
    @media #{$medium-up} {
        padding:3rem 1rem 2rem;
    }
}
.footer__header {
    @include grid-column(
    $columns:12
    );
}
.footer__title {
    color:$white;
}
.blurb {
    max-width:29rem;
    color:$white;
    @include grid-column(
    $columns:12
    );
    @media #{$medium-up} {
        @include grid-column(
        $columns:6
        );
        margin-top:2em;
    }
}
.blurb__text, .newsletter__text {
    font-size:0.8em;
    @media #{$large-up} {
        font-size:0.9rem;
    }
}

// negozi
.negozi {
    @include grid-column(
    $columns:12
    );
    @media #{$medium-up} {
      @include grid-column(
        $columns:6
        );  
    }
    @media #{$large-up} {
      @include grid-column(
        //$columns:5,
        $columns:6,
        $float:right
        );  
    }
}

.negozi__list {
    @include block-grid(
        $per-row: 2
        //$spacing: 2em
        );
}

.negozi--title {
    font-size:rem-calc(27);
}
.negozio {
    color:$white;
    font-size:0.8em;
    @media #{$medium-up} {
        font-size:1em;
    }
}

.negozio__inner {
    border-bottom: 1px solid $white;
    margin-bottom: 0.5em;
    width:100%;
    @include grid-column(
        $columns:12,
        $collapse:true
    ); 
}

.negozio__title {
    color:$white;
    font-size:1rem;
    margin-bottom:0;
}
.negozio__link {
    font-size: 0.8em;
    color:$lightGrey;
}




//footer-nav
.footer-nav {
    @include grid-column(
    $columns:12
    );
    @media #{$medium-up} {
      @include grid-column(
        $columns:6
        );  
    }
    @media #{$large-up} {
      @include grid-column(
        $columns:5,
        $float:right
        );  
    }
}
.footer-nav__list {
   @include side-nav();
   color:$red;
   list-style: square !important;
   padding-left:2rem;
   padding-right:2rem;
}

.footer-nav__link {
    color:$white !important;
    font-size: rem-calc(18);
    @media #{$medium-up} {
        font-size:rem-calc(23);
    }
}

.punti-vendita {
    @extend %section;
    padding:3em 0;
}

.punti-vendita__list {
    @include block-grid(
    $per-row: 2,
    $spacing: 2em
    );
    @media #{$large-up} {
        @include block-grid(
        $per-row: 5,
        $spacing: 1em 2em
        );
    }
}
.punti-vendita__title {
    @extend .evidenza__title;
}

.punto-vendita__title {
    font-weight:100;
    font-size:rem-calc(23);
}

.punto-vendita__text {
    font-weight:100;
}

.newsletter {
    color:$white;
    margin-bottom:2rem;
    max-width:23rem;
    @include grid-column(
        $columns:12,
        $collapse:true
        ); 
    @media #{$large-up} {
      max-width:26rem;  
    }
}
.newsletter__title {
    color:$white;
    font-size:rem-calc(23);
}
.newsletter__input {
    @include grid-column(
        $columns:10,
        $collapse:true
        ); 
}
.newsletter__button {
    @include grid-column(
        $columns:2,
        $collapse:true
        ); 
}

.contentinfo {
    @extend %section;
    background:$red;
    color:$white;
    padding:.5em;
}
.contentinfo__inner {
    @include grid-column(
        $columns:12
        );
}
.contentinfo__link {
    color:$white;
    text-decoration: underline;
    &:hover, &:active {
        color:$white;
    }
}

.menu__item {
    font-family: $header-font-family;
    text-transform: uppercase;
}


.menu__link {
    &:hover {
        color:$red;
    }
}

.search {
    margin-top:2em;
    overflow: hidden;
}
.search__inner {
    padding:0.66667rem;
}
.search__title {
    color:$white;
    font-weight: 400;
    font-size:rem-calc(18);
}
.search__input {
    @extend .newsletter__input;
}
.search__button {
    @extend .newsletter__button;
}

.menu-icon__label {
    font-family: $header-font-family;
    display:none !important;
    @media #{$large-up} {
        display:inline !important;
    }
}

.copertina {
    position:relative;
}
.copertina__title {
    color:$white;
    position:absolute;
    width:100%;
    text-align:center;
    top:50%;
    margin-top:-1.75em;
    font-family: "adelle", serif;
    font-weight:400;
    text-shadow: 0 5px 5px rgba($black, 0.1),
                5px 0px 5px rgba($black, 0.5),
                -10px 1px 5px rgba($black, 0.05);
    font-size:rem-calc(18);    
    line-height: 1.2; 
    @media #{$medium-up} {
        font-size:rem-calc(27);
    } 
    @media #{$large-up} {
        font-size:rem-calc(44);
    }       
}


// single item
.item__figure {
    text-align: center;
    @media #{$large-up} {
        margin:0;
        @include grid-column(
            $columns:4
            );
    }
}
.item__inner {
    @media #{$large-up} {
        @include grid-column(
            $columns:8,
            $collapse:true
            );
    }
}
.item__img {
    max-height:500px;
    max-height:65vh;
}

.item__spec {
    width:100%;
}

.item__action {
    margin: 0 auto 1em;
    display: block;
}

.item__title {
    font-size:rem-calc(36);
    line-height: 1.1;
}

// texts
.item__desc {
    font-size:0.8rem;
}
.brand__text {
    @extend .item__desc;
}
.designer__text {
    @extend .item__desc;
}

.item__sidebar {
    padding:0;
}

// brand
.brand {
    background-color:$lightGrey;
    padding:2em;
}
.brand__label {
    font-size:rem-calc(27);
    letter-spacing: 0.3px;
}
.brand__link {
    font-style:italic;
    text-decoration: underline;
}

// designer
.designer {
    background-color:$darkGrey;
    padding:2em;
}
.designer__label {
    @extend .brand__label;
    color:$lightGrey;
}
.designer__title {
    color:$lightGrey;
    font-size:rem-calc(23);
}
.designer__text {
    color:$lightGrey;
}
.designer__link {
    @extend .brand__link;
    color:$white;
}
