$transition: all 500ms ease-in-out 0s;  
    
a {
    transition:$transition;
}   

.hover-move-left {
    transition:$transition;
    &:hover {
        transform: translateX(0.5rem);
    }
}

.zoom-in {
    transition:$transition;
    &:hover {
        transform: scale(1.1);
    }
}



.no-touch, .touch {
    @media #{$medium-up} {
        .show-caption {
            img {
                transition:$transition;
            }

            &:hover {
                img {
                    opacity:0.1;
                }
            }
        }
    }
}



.js {
    body {
        opacity:0;
        transform:translateZ(0,0,0);
        transition:opacity 500ms linear 500ms;
    }
}

.js.ready {
    body {
        opacity:1;
    }
}


.clearing-assembled {
    position:fixed;
    opacity:0;
    z-index:-1;

    &.clearing-blackout {
        opacity:1;
        z-index:1000;
    }
}
.gallery__message {
    transition:$transition;
}
.gallery__trigger:hover {
    .gallery__message {
        background: none repeat scroll 0 0 rgba($white, 1);
    }
}