%bg-red {
    background:$red;
}

%bg-white {
    background-color:$white;
    color:$black;
}

%bg-lightGrey {
	background-color: $lightGrey;
	color:$black;
}
%text-white {
    color:$white;
}

.obj__title {
    font-family: $body-font-family;
    font-weight: 100;
    font-size:1rem;
}
