%bg-red {
    background:$red;
}

%bg-white {
    background-color:$white;
    color:$black;
}

%bg-lightGrey {
	background-color: $lightGrey;
	color:$black;
}
%text-white {
    color:$white;
}

.obj__title {
    font-family: $body-font-family;
    font-weight: 100;
    font-size:1rem;
}

.page {
    main {
        background-image: linear-gradient(90deg, $white 60%,white 0%,$grey 0%);
    }
}

.indice--brand {
    .obj {
        @media #{$medium-up} {
            padding:2.5rem
        }
    }
}